{% extends "base.html" %}

{% block content %}
<h1>Добавление фильма</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control") }}<br>
        {% for error in form.year.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.poster.label }}<br>
        {{ form.poster(class="form-control-file") }}<br>
        {% for error in form.poster.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.trailer.label }}<br>
        {{ form.trailer(class="form-control") }}<br>
        {% for error in form.trailer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.country.label }}<br>
        {{ form.country(class="form-control") }}<br>
        {% for error in form.country.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.slogan.label }}<br>
        {{ form.slogan(class="form-control") }}<br>
        {% for error in form.slogan.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.director.label }}<br>
        {{ form.director(class="form-control") }}<br>
        {% for error in form.director.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.scenario.label }}<br>
        {{ form.scenario(class="form-control") }}<br>
        {% for error in form.scenario.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.producer.label }}<br>
        {{ form.producer(class="form-control") }}<br>
        {% for error in form.producer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.operator.label }}<br>
        {{ form.operator(class="form-control") }}<br>
        {% for error in form.operator.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.composer.label }}<br>
        {{ form.composer(class="form-control") }}<br>
        {% for error in form.composer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.designer.label }}<br>
        {{ form.designer(class="form-control") }}<br>
        {% for error in form.designer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.montage.label }}<br>
        {{ form.montage(class="form-control") }}<br>
        {% for error in form.montage.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.budget.label }}<br>
        {{ form.budget(class="form-control") }}<br>
        {% for error in form.budget.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.fees_in_the_world.label }}<br>
        {{ form.fees_in_the_world(class="form-control") }}<br>
        {% for error in form.fees_in_the_world.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.audience.label }}<br>
        {{ form.audience(class="form-control") }}<br>
        {% for error in form.audience.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.fees_in_russia.label }}<br>
        {{ form.fees_in_russia(class="form-control") }}<br>
        {% for error in form.fees_in_russia.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.world_premiere.label }}<br>
        {{ form.world_premiere(class="form-control") }}<br>
        {% for error in form.world_premiere.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.short_description.label }}<br>
        {{ form.short_description(class="form-control") }}<br>
        {% for error in form.short_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.long_description.label }}<br>
        {{ form.long_description(class="form-control") }}<br>
        {% for error in form.long_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{ form.submit(type="submit", class="btn btn-primary") }}
    {{ message }}
</form>
{% endblock %}