* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
}

main {
    display: flex;
    align-items: center;
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 100%;
}

main .container nav {
    font-size: 30px;
    margin-top: 30%;
    text-align: center;
}

main .container nav .block {
    margin: 20px;
}

main .container nav a {
    color: wheat;
    text-decoration: none;
}